[Unit]
Description=Scrobbling Demon

Wants=mpd.service
After=network.target

[Service]
ExecStart=/usr/bin/scmpc -n -f ~/.config/scmpc/scmpc.conf

[Install]
WantedBy=default.target
