priority -50

snippet mod "module ... end"
module ${VISUAL}$0
end
endsnippet

snippet class "module ... end"
class ${VISUAL}$0
end
endsnippet

snippet def "def ... end"
def ${VISUAL}$0
end
endsnippet
